body {
	max-width: 790px;
	padding: 0px;
	margin: 0px auto;
	background-color: black;
	font: 100%/1.250 'Port Lligat Sans', sans-serif;
	font-weight: 400;
}

#wrapper {
	width: 100%;
	background-color: white;
}

/*-------------------------------Navigation-------------------------------*/

header {
	background: url("../images/TWGOKbkground.gif");
	width: 100%; /* 790px */
	height: 50px;
	padding: 0px;
	overflow: visible;
}

nav {
	background-color: black;
	width: 30.37974685443%; /* 240px */
	float: left;
	overflow: hidden;
}


h1 {
	float: left;
	width: 67.088607594937%; /* 530px */
	height: 50px;
	line-height: 50px;
	margin-top: 0px;
	margin-left: 2.53164556962%; /* 20px */
	font-family: 'Titan One', cursive, serif;
	font-weight: 400;
	font-size: 1.625em;
	color: black;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

nav ul li {
	width: 50%; /* 120px */ 
	height: 50px;
	padding: 0px;
	margin: 0px;
	float: left;
}

nav ul li a {
	text-decoration: none;
	display: block;
	background-color: black;
	font-size: 0.875em;
	height: 50px;
	line-height: 50px;	
	text-align: center;
}

li a:link {
	color: white;
}

li a:visited {
	color: silver;
}

li a:hover {
	color: black;
	background-color: grey;
}

li a:active {
	color: white;
	background-color: silver;
}





/*-------------------------------MainContent-------------------------------*/

section {
	width: 100%;
}

#mainimg {
	float: right;
	width: 50.632911392405%; /* 400px */
	height: 454px;
	opacity: 0.7;
	margin: -6.962025316456% 0.253164556962%; /* -55px 2px */
	padding: 0px;
}

.heading {
	margin-left: 1.26582278481%; /* 10px */
	width: 25.316455696203%; /* 200px */
}

h2 {
	text-shadow: 2px 2px 2px #111;
}

p {
	margin-left: 10px;
	font-size: 13px
}

a:link {
	color: gray;
}

a:visited {
	color: silver;
}

#subcontent ul {
	list-style-type: none;
	overflow: hidden;
	padding: 25px
}

#subcontent ul li {
	float: left;
	margin-left: 7px
}

#summary {
	-moz-column-count: 3;
	-moz-column-gap: 25px; 
	margin: 0px 0.632911392405%;
}



/*-------------------------------Subcontent & Footer-------------------------------*/

#subcontent {
	width: 98.73417721519%;
	background-color: black;
	border: grey 5px solid
}

#subcontent h2 {
	color: white;
	text-decoration: underline;
	text-align: center;
	line-height: 35px;
}
	
#subcontent p {
	color: white;
	text-align: center;
}


/*-------------------------------Mobile Design Section-------------------------------*/

